<div class="card card border-warning mt-3">
  <div class="card-body">
    <h5 class="titulo subtitulo">Crear Tarea</h5>
    <form>
      <div class="input-group input-group-lg mb-3">
        <span class="input-group-text"><i class="far fa-star"></i></span>
        <input class="form-control" id="" type="text" placeholder="Titulo" />
      </div>
      <div class="input-group input-group-lg mb-3">
        <span class="input-group-text"
          ><i class="fas fa-exclamation-circle"></i
        ></span>
        <input class="form-control" id="" type="text" placeholder="Prioridad" />
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text"
              ><i class="far fa-calendar-alt"></i
            ></span>
            <input class="form-control" id="" type="text" placeholder="Fecha Inicio" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text"
              ><i class="far fa-calendar-check"></i
            ></span>  
            <input class="form-control" id="" type="text" placeholder="Fecha Fin" />
          </div>
        </div>
      </div>
      <div class="input-group input-group-lg mb-3">
        <span class="input-group-text"
          ><i class="far fa-edit"></i></span>
        <input class="form-control" id="" type="text" placeholder="Descripción" />
      </div>
      <div class="d-grid gap2">
        <button type="button" class="btn btn-warning btn-lg">Warning</button>
      </div>
    </form>
  </div>
</div>
